body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    margin: 20px;
}
h1{
    text-align: center;
}

.Gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    gap: 20px;
    padding: 10px;
}

.Photo {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0.0.0.0.1);
    text-align: center;
}
.Photo img {
    width: 100%;
    box-shadow: 5px;
}